{% load static %}
<html>
  <head>
    <title>Hello World Django App</title>
  </head>
  <h1>Some delicious coconut bars</h1>
  <img src="{% static '../static/coconut_bars.jpg' %}" alt="Delicious chocolate coconut bars" />
</html>
